@charset "utf-8";
@import "bourbon";
@import "neat";

.container{
  font-family: 'Inconsolata', monospace;
  @include outer-container;
  header{
    @include span-columns(12);
  }
}

section.main-container{
  section.tables{
    @include outer-container;
    .input, .output{
      @include span-columns(6);
      textarea{
        width: 100%;
        height: 500px;
      }
    }
  }
  section.controls{
    @include outer-container;
    .convert-button{
      text-align: center;
      @include span-columns(12);
    }
  }
}
