<%= tag('table', tableOptions) %>
  <thead>
    <tr>
      <%= theads(fields, thOptions) %>
    </tr>
  </thead>
  <tbody><% _.each(rows, function(row){ %>
    <tr>
      <%= tableElements('td', row, tdOptions) %>
    </tr><% }); %>
  </tbody>
</table>