<table>
  <thead><% _.each(fields, function(field){ %>
    <tr>
      <th><%= field %></th>
    </tr><% }); %>
  </thead>
  <tbody><% _.each(rows, function(row){ %>
    <tr><% _.each(row, function(cell){ %>
      <td><%= cell %></td><% }) %>
    </tr><% }); %>
  </tbody>

</table>