---
title: Welcome csvToTable
---
<header>
  <h1>csvToTable</h1>
</header>
<section class='main-container'>
  <section class="tables">
    <div class="input">
      <textarea class='input'>
      </textarea>
    </div>
    <div class="output">
      <textarea>
      </textarea>
    </div>
  </section>
  <section class="controls">
    <div class="convert-button">
      <input type='submit' class='convert' value='Convert'>
    </div>
  </div>
</section>
<footer></footer>
