---
title: Welcome csvToTable
---
<header>
  <h1>csvToTable</h1>
</header>
<section class='main-container'>
  <section class="tables">
    <div class="input">
      <textarea class='input'>
      </textarea>
    </div>
    <div class="output">
      <textarea>
      </textarea>
    </div>
  </section>
  <section class="controls">
    <div class="convert-button">
      <input type='submit' class='convert' value='Convert'>
    </div>
    <div class="table-config">
      <h2>Table</h2>
      <label for="text_field">Table ID:</label>
      <input type="text" id="text_field">
      <label for="text_field">Table class:</label>
      <input type="text" id="text_field">
    </div>
    <div class="thead-config">
      <h2>thead</h2>
      <h4>Insert classes for ths</h4>
      <div class="ths">
      </div>
    </div>
    <div class="tbody-config">
      <h2>tbody</h2>
      <h4>Insert classes for tds</h4>
      <div class="tds">
      </div>
    </div>
  </div>
</section>
<footer></footer>
