---
title: CSV to table
---

<section class='main-container'>
  <section class="tables">
    <div class="input">
      <h3>CSV</h3>
      <textarea class='input'></textarea>
      <div class="examples">
        Examples:
        <a href='/data/bicicleterias.csv' class="example">Bike shops</a>,
        <a href='/data/Lobbyists.csv' class="example">Lobbyists</a>,
        <a href='/data/organismos_publicos.csv' class="example">Public Organizations</a>
      </div>
    </div>
    <div class="output">
      <h3>Results</h3>
      <textarea>
      </textarea>
    </div>
  </section>
  <section class="controls">
    <div class="convert-button">
      <input type='submit' class='convert' value='Convert'>
    </div>
    <div class="table-config">
      <h2>Table</h2>
      <div class="table-option">
        <label for="table-id">Table ID:</label>
        <input type="text" id="table-id">
      </div>
      <div class="table-option">
        <label for="table-class">Table class:</label>
        <input type="text" id="table-class">
      </div>
    </div>
    <div class="thead-config">
      <h2>thead</h2>
      <h4>Insert classes for ths</h4>
      <div class="ths">
      </div>
    </div>
    <div class="tbody-config">
      <h2>tbody</h2>
      <h4>Insert classes for tds</h4>
      <div class="tds">
      </div>
    </div>
    <div class="convert-button">
      <input type='submit' class='convert' value='Convert'>
    </div>
  </section>
</section>
